.testimonials-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 10px;
}
.ts_headings {
  margin-top: 5rem;
}
.testimonials-heading-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.testimonials-heading-text h2 {
  width: 409px;
  height: 130px;
  font-family: "Volkhov";
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  text-transform: capitalize;
  margin: 0;
}

.testimonials-heading-text h3 {
  width: 128px;
  height: 27px;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #5e6282;
  text-transform: uppercase;
}

.testimonials-slider-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
}
.testimonials-slider-container .swiper-container {
  position: relative;
  width: 600px;
  height: 410px;
  margin: 10px 0;
}

.testimonials-slider-container .swiper-container > .swiper-slide__content {
  position: absolute;
  top: 0;
}
.testimonials-slider-container .swiper-slide.swiper-slide-next {
  left: 5rem;
  top: 18rem;
  z-index: -1;
  transform: scale(1);
  transition: all 600ms linear;
  background-color: #f7f7f7;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border: 2px solid rgba(247, 247, 247, 1);
}
.testimonials-slider-container .swiper-slide.swiper-slide-prev {
  z-index: -1;
  transform: scale(1);
  left: 5rem;
  top: 18rem;
  opacity: 1;
  transition: all 600ms linear;
  background-color: #f7f7f7;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border: 2px solid rgba(247, 247, 247, 1);
  border: 2px solid rgba(247, 247, 247, 1);
}
.testimonials-slider-container .swiper-slide.swiper-slide-active {
  transform: scale(1);
  background: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  left: 2.5rem;
}
.testimonials-slider-container .swiper-slide {
  width: 500px;
  display: flex;
  background: #eee;
  align-items: center;
  justify-content: center;
  transition: all 300ms linear;
  transform: scale(0.8);
  border-radius: 8px;
}
.card {
  width: 90%;
  height: auto;
  display: flex;
  font-family: "Poppins";
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  color: #5e6282;
}
.card .card-img {
  position: absolute;
  top: -4em;
  left: -4em;
}
.card-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0px;
  margin: 0;
}
.card-name {
  padding: 12px 0;
  margin: 0;
}
.card-name h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
.card-name p {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.card-name h4,
p {
  margin: 0;
}
.testimonials-slider-container .swiper-slide.swiper-slide-active {
  transform: scale(1);
}

.testimonials-slider-container .swiper-slide__content {
  height: 300px;
}
.testimonials-slider-container .slider-btn-container {
  font-size: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 4rem;
  margin-top: 4rem;
}
.ts_btn-active{
  color:#BCB7C2 !important;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonials-section {
    width: 100%;
    justify-content: center;
  }
  .testimonials-slider-container {
    margin-left: 3rem;
  }
}
@media only screen and (max-width: 767px) {
  .testimonials-slider-container {
    margin-left: 0rem;
  }
  .testimonials-slider-container .slider-btn-container {
    margin-left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .testimonials-heading-text h3,
  .testimonials-heading-text h2 {
    width: fit-content;
    margin: 0 auto;
    margin-left: 2rem;
  }
  blockquote.card-text {
    padding-top: 0.5rem;
  }
  .testimonials-slider-container {
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    margin-left: 0rem;
  }
  .testimonials-slider-container .slider-btn-container {
    margin-left: 0;
    margin-top: 0;
    flex-direction: row;
  }
  .testimonials-slider-container {
    flex-direction: column;
  }
  .testimonials-slider-container .swiper-container {
    width: 85%;
    margin: 0 auto;
  }
  .testimonials-slider-container .swiper-slide {
    max-width: 330px;
  }
  .testimonials-slider-container .swiper-slide.swiper-slide-active {
    margin-left: 0;
    left: 0.5rem;
  }
  .testimonials-slider-container .swiper-slide.swiper-slide-prev,
  .testimonials-slider-container .swiper-slide.swiper-slide-next {
    left: 1rem;
    top: 18rem;
  }
  .card-text,
  .card-name h4,
  .card-name p {
    line-height: normal;
    font-size: 14px;
  }
  .card-img img {
    width: 48px;
  }
  .card .card-img {
    position: absolute;
    top: -3em;
    left: -1em;
  }
}
@media only screen and (max-width: 400px) {
  .testimonials-slider-container .swiper-slide {
    max-width: 260px;
  }
  .testimonials-slider-container .swiper-slide.swiper-slide-prev,
  .testimonials-slider-container .swiper-slide.swiper-slide-next {
    left: 0.4rem;
    top: 17rem;
  }
}
@media only screen and (max-width: 320px) {
  .card-text,
  .card-name h4,
  .card-name p {
    line-height: normal;
    font-size: 12px;
  }
  .testimonials-slider-container .swiper-slide {
    max-width: 200px;
  }
  .testimonials-slider-container .swiper-slide.swiper-slide-active {
    margin-left: 0;
    left: 1.1rem;
    top: 3rem;
  }
  .testimonials-slider-container .swiper-slide.swiper-slide-prev,
  .testimonials-slider-container .swiper-slide.swiper-slide-next {
    left: 1.2rem;
    top: 18.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border: 1px solid rgba(247, 247, 247, 1);
  }

}
