.product-details-slider-section-three {
    width: 100%;
}

.pds-heading {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.swiper-wrapper{
    transition-timing-function: linear;
}
.pds-heading h4,
h2 {
    padding: 10px 0;
}

.pds-heading h4 {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #E11737;
}

.pds-heading h2 {
    font-family: "Volkhov";
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
}

.similar-pds-slider {
    width: 100%;
    position: relative;
}
.similar-pds-slider .swiper-container{
    width: calc(100% - 34%);
    margin: 0 auto;
}
.similar-pds-slider .swiper-wrapper{
}
.similar-pds-slider .swiper-container .swiper-slide{
    width: fit-content !important;
    margin:0;
    margin-right: 0 !important;
}
.similar-pds-btn-container {
    display: flex;
    flex-direction: row;
    width: calc(100% - 25%);
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    left: 12rem;
    top: 9rem;
}
.similar-pds-btn-container .btn-prev, .btn-next{
    font-size: 2rem;
    color: #CECDCD;
    outline: transparent;
}

.spds_btn-active i{
    color: #E11737;
    outline: transparent;
}
